header{
    display: flex;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}

header img{
    margin-left: 255px;
    margin-top: 42px;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    margin-top: 20px;
    position: relative;
}

.col img {
    max-width: 100%; // максимальная ширина чтобы фотки вместились на странице 
    width: 100%;
}

@media screen and (max-width: 400px) {
    .row {
        display: block;
    }
    .col {
        padding: 0;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background: url('gg.png')no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -13px;
    right: 0;
    opacity: 0;
}

.col:hover .overlay {
    transition: 0.1s;
    opacity: 0.5;
}

.header img {
    margin-left: 188px;
    margin-top: 4px;
}
/*========================================================================================================*/

.btn-default {
    border: 1px solid grey;
    padding: 5 17px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    margin-left: 10px;
    display: inline;  
}
.btn-defalut:hover {
    border-width: 2px;
}

.col1 p{
    margin-left: -300px;
    display: inline;
}

/*
.col2 a{
    margin-top: 500px;
}
*/

/*===============КНОПКИ===================*/
.btn1 {
    text-decoration: none;
    border-radius: 5px;
    margin-left: 3px;
    border: 1px solid grey;
}
.btn1 img{
    margin-right: -1000px;
}

.btn2 {
    text-decoration: none;
    border-radius: 5px;
    margin-left: 830px;
    border: 1px solid grey;
}

.btn2 img{
    margin-right: -1000px;
}

.btn3 {
    text-decoration: none;
    border-radius: 5px;
    margin-left: 830px;
    border: 1px solid grey;
}

.btn3 img{
    margin-right: -1000px;
}

.btnSet {
    text-decoration: none;
    border-radius: 5px;
    margin-left: -253px;
    border: 1px solid grey;
    padding-top: 50px;
}
.btnSet img{
    margin-right: -1000px;
}
/*=====================================================КНОПКИ=========================================================*/
html{
    background-color: #fafafa;
}
.header{
    background-color: white;
}
.row1 {
    margin-top: 20px;
}
.row1 p{
    font-size: 35px;
}
.col2 p {
    margin-left: -300px;
    font-size: 18px;
}
.follower {
    padding: 5 17px;
    text-decoration: none;
    color: black;
    margin-left: 50px;
    display: inline;  
}
.follower {
    border-width: 2px;
}
.row2 p{
    display: inline; 
    margin-top: 50px;
}

.btn4 {
    padding: 5 17px;
    text-decoration: none;
    color: black;
    border-radius: 2px;
    margin-left: 600px;
    display: inline;  
    background-color: #3897f0;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.col3 {
    margin-top: 50px;
    margin-bottom: 50px;
}